/* Register.css */

.register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    justify-content: center;
}

.register-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type='submit'] {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.form-group input[type='submit']:hover {
    background-color: #45a049;
}

.error-message {
    color: red;
    font-size: 14px;
}